/*SELECTOR UNIVERSAL*/
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*SELECTOR POR ETIQUETA HTML*/
p{
    color: blue;
}

/*SELECTOR ID*/
#p1{ 
    text-align: justify;
}

/*SELECTOR CLASE*/
.border{
    border: 1px solid black;
}